.faf {
  .toparea {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .areatitle {
    margin-top: -2px;
  }
  .buttons {
    display: flex;
    gap: 3px;

    .button {
      border: 1px solid #424242;
      background-color: #323232;
      border-radius: 8px;
      color: #dcdcdc;
      font-weight: 500;
      padding: 2px 6px;
      box-shadow: 0 1px 2px 1px rgba(black, 0.12);

      &:hover {
        border-color: #525252;
        background-color: #373737;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}

.foldertree_holder {
  flex: 1;
  height: calc(100% - 36px);
}
.ft {
  background-color: #1d1d1d;
  border-radius: 8px;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: 10px;
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #181818;

  &__file {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 100%;
      max-width: max-content;
      padding-left: 15px;
      gap: 8px;
    }
  }

  &__labelspan {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
    padding-left: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  &__folder {
    &__label,
    &__left {
      display: flex;
      gap: 8px;
    }

    &__labelholder {
      width: 100%;
      flex: 1;
      justify-content: space-between;
    }
  }

  &__extension {
    border-radius: 50px;
    width: 40px;
    font-size: 10px;
    font-weight: 600;
    color: rgba(white, 0.8);
    padding: 3px 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(black, 0.2);

    &[data-valid="false"] {
      color: rgba(white, 0.5);
      background-color: rgba(#74464f, 0.3) !important;
    }
  }

  &__foldertogglebutton {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line {
    width: 100%;
    display: flex;
    align-items: center;
    background: none;
    text-align: left;
    border: none;
    color: #e9e9e9;
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #181818;

    &[data-valid="false"] {
      color: #965b5b;

      &:focus {
        background: #b55466;
      }
    }

    &:focus {
      border-radius: 6px;

      color: white;
      background: #7354b5;

      .ft__extension {
        box-shadow: 0 0 0 1px rgba(white, 0.2);
      }
    }
  }

  &__mutedtext {
    opacity: 0.6;
  }
  &__collapsible {
    overflow: hidden;
  }
}
