.checkmark {
  display: flex;
  gap: 7px;
  align-items: center;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 4px;
    background-color: #212121;
    box-shadow: 0 0 0 1px #3d3d3d inset;

    &.checked {
      background-color: #7354b5;
      box-shadow: 0 0 0 1px #382169 inset;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
    }
  }

  label {
    font-size: 12px;
    color: #cccccc;
  }
}
