.area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top {
    flex: 1;
  }
}
.progress_text {
  color: #565656;
  font-size: 11px;
}
.percent,
.cancelled,
.finished {
  font-weight: 600;
}
.cancelled {
  font-weight: 600;
}

.percent {
  width: 40px;
  color: white;
}
.finished {
  color: rgb(123, 218, 169);
}
.brief {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.progressbar {
  width: calc(100% + 26px);
  margin-top: 20px;
  margin-left: -13px;
  background-color: #323232;
  display: block;
  height: 2px;
  position: relative;

  .progress {
    width: 100%;
    margin-top: unset;
    margin-left: unset;
    height: 2px;
    border-radius: 0;
  }

  .progress[value]::-webkit-progress-bar {
    border-radius: 0;
  }

  .progress[value]::-webkit-progress-value {
    background-color: rgb(42, 182, 110);
    border-radius: 0;
  }

  &[data-cancel="true"],
  &[data-error="true"] {
    .progress[value]::-webkit-progress-value {
      background-color: rgb(116, 65, 74);
    }
  }
}

.message {
  position: relative;
  color: #dedede;

  .eta {
    position: absolute;
    left: 0;
    top: 0;
    width: max-content;
    transform: translateY(140%);
    font-size: 11px;
    color: #656565;
  }
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -5px;
  .start {
    font-size: 12px;
    color: #7b7b7b;
  }
  .elapsed {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;

    .text {
      font-size: 12px;
      color: #7b7b7b;
    }

    .duration {
      font-size: 14px;
    }

    [data-finished="true"] {
      font-weight: 600;
    }
  }
}
