.footer {
  height: 36px;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  justify-content: space-between;
  font-size: 11px;
  color: #565656;

  button {
    margin-top: 3px;
    cursor: pointer;
    padding: 0;
    padding-bottom: 4px;
    color: #565656;
    border-bottom: 1px solid #292929;
    &:hover {
      color: #878787;
    }
  }
}
